@font-face {
    font-family: 'the_hippia_sansregular';
    src: url('../font/the_hippia_sans-webfont.woff2') format('woff2'),
         url('../font/the_hippia_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}